# Composer files
composer.phar
vendor/

# Local configs
config/autoload/local.php
config/autoload/local.php.dist
config/autoload/localSecrets.ini
phinx.yml

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation
