body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#map {
    height: 530px;
}

td.details-control {
    background: url('../images/glyphicons-191-plus-sign.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/glyphicons-192-minus-sign.png') no-repeat center center;
}
